.kotak{
	padding: 35px; 
	margin: 30px 25px 30px 25px;
}

.kotak-left{
	padding: 35px; 
	margin: 30px 25px 30px -80px;
}

.kotak-right{
	padding: 35px; 
	margin: 30px -80px 30px 25px;
}

.kotak-mobile{
	border: 1px solid; 
	padding: 35px; 
}