html, body { 
	padding-top:70px;
	background: $gray-lighter;
}

.main-nav { 
	.nav-link { color:white !important; font-weight:bold; text-transform:uppercase;}
}
.navbar2 { 
	margin-top:50px;
	padding:0px;
	background:#fff;
	border-bottom:1px solid $brand-primary;

	.navbar-nav { 
		margin:0;
		ul.list-inline {
			margin:0 !important;
			.list-inline-item { 
				a:first-child { 
				}
				&:not(:first-child) { 
					margin-left:-6px !important;
				}
				width:85px;
				&:hover { 
					background: $gray-lighter;
					border:0px;
					transition: 0.5s;
					* { 
						text-decoration:none !important; 
					}
				}
			}
		}
	}
}

// MODALS
.fullscreen-modal { 
	.modal-dialog {
		margin:0px;
		border-radius:0px;
		width:100%;
		.modal-content { 
			border-radius:0px;
			height:100% !important;
			background: white;
			width:100%;
		}
	}
}

// HR
.thick { border-width:10px; }
.dotted { border-style:dotted; }

// jumbotron
.jumbotron-white { background:#fff;}

// positioning
.inline-block { display:inline-block;}
.block { display:block;}

//side menu
@media screen and (min-width: 993px) {
	.static-sidemenu{
		position: fixed;
	    width: 23%;
	}
}

.textarea{
	resize: none;
}

#box {
    width: 35%;
    height: 35%;
    border: 1px solid black;
    margin: 0 auto;
    text-align: center;
    line-height: 100%;
}

.mbottom10{
	margin-bottom :10px;
}

.mtop25{
	margin-top :25px;
}