$black : #292929 !default;
$dark-gray : #565758 !default;
$green : #72D92E !default;
$aqua : #4cbcd4 !default;
$pink : #F574A7 !default;
$lime : #ADC240 !default;
$red : #EE7D7B !default;
$blue : #46A0CF !default;
$yellow : #FBE574 !default;
$orange : #FAA631 !default;
$purple : #B0B5FF !default;
$white : #FFF !default;
$abu : #E2E2E2 !default;
$bggreen: #d4f0c0 !default;
$bgorange: #fff6cd !default;
$bgblue: #b8e4ff !default;
$bgaqua: #e5e5ff !default;