body{
	font-family : 'Roboto';
	font-weight : 300;
}
h1{
	font-family : 'Bubblegum Sans';
	font-size :2rem;
}

h2{
	font-family : 'Bubblegum Sans';
	color : $black;
	font-size : 1.6rem;
}
p{
	font-size : 18px;
	font-weight : 300;
	margin-bottom : 6px;
}
p strong{
	font-weight : 400;
}
.text-center{
	text-align: center;
}

.text-left{
	text-align: left;
}

.text-right{
	text-align: right;
}

.berlangganan{
	font-size: 40px;
}