h1{
	font-family : 'Bubblegum Sans';
	size :52;
}

h2{
	font-family : 'Bubblegum Sans';
	color : $black;
	size : 32;
}

.text-center{
	text-align: center;
}

.text-left{
	text-align: left;
}

.text-right{
	text-align: right;
}

.berlangganan{
	font-size: 40px;
}