.garis-bawah{
	height: 3px;
	background-color: $orange;
}

.garis-bawah-ungu{
	height: 3px;
	background-color: $purple;
}

.garis-bawah-hitam{
	height: 3px;
	background-color: $black;
}

.garis-bawah-blue{
	height: 3px;
	background-color: $blue;
}

.garis-bawah-hijau{
	height: 3px;
	background-color: $green;
}