
.floatRight{
	float:right;
}
.floatLeft{
	float:left;
}

.borderAbu{
	border : 1px solid $abu;
}
.borderTop1{
	border-top:1px solid;
}
.borderTop5{
	border-top:5px solid;
}
.borderTop10{
	border-top:10px solid;
}
.borderTop15{
	border-top:15px solid;
}
.borderTop20{
	border-top:20px solid;
}
.borderTop25{
	border-top:25px solid;
}
.borderTop30{
	border-top:30px solid;
}
.borderTop35{
	border-top:35px solid;
}
.borderTop40{
	border-top:40px solid;
}
.borderTop45{
	border-top:45px solid;
}
.borderTop50{
	border-top:50px solid;
}

.borderBottom1{
	border-bottom:1px solid $abu;
}
.borderBottom5{
	border-bottom:5px solid;
}
.borderBottom10{
	border-bottom:10px solid;
}
.borderBottom15{
	border-bottom:15px solid;
}
.borderBottom20{
	border-bottom:20px solid;
}
.borderBottom25{
	border-bottom:25px solid;
}
.borderBottom30{
	border-bottom:30px solid;
}
.borderBottom35{
	border-bottom:35px solid;
}
.borderBottom40{
	border-bottom:40px solid;
}
.borderBottom45{
	border-bottom:45px solid;
}
.borderBottom50{
	border-bottom:50px solid;
}

.borderRight1{
	border-right:1px solid $abu;
}
.borderLeft1{
	border-left:1px solid $abu;
}


.width10Per{
	width:10%;
}
.width15Per{
	width:15%;
}
.width20Per{
	width:20% !important;
}
.width25Per{
	width:25% !important;
}
.width30Per{
	width:30%;
}
.width40Per{
	width:40%;
}
.width50Per{
	width:50%;
}
.width60Per{
	width:60%;
}
.width70Per{
	width:70%;
}
.width75Per{
	width:75% !important;
}
.width80Per{
	width:80% !important;
}
.width85Per{
	width:85% !important;
}
.width90Per{
	width:90%;
}
.width100Per{
	width:100% !important;
}


.height5{
	height:5px;
}
.height10{
	height:10px;
}
.height15{
	height:15px;
}
.height20{
	height:20px;
}
.height25{
	height:25px;
}
.height30{
	height:30px;
}
.height35{
	height:35px;
}
.height40{
	height:40px;
}
.height45{
	height:45px;
}
.height50{
	height:50px;
}
.height87{
	height:87px;
}
 
 .zindex1{
 	z-index:1;
 }
 
.paddingTop5{
	padding-top:5px;
}
.paddingTop10{
	padding-top:10px;
}
.paddingTop15{
	padding-top:15px;
}
.paddingTop20{
	padding-top:20px;
}
.paddingTop25{
	padding-top:25px;
}
.paddingTop30{
	padding-top:30px;
}
.paddingTop35{
	padding-top:35px;
}
.paddingTop40{
	padding-top:40px;
}
.paddingTop45{
	padding-top:45px;
}
.paddingTop50{
	padding-top:50px;
}

.padding10{
	padding : 10px;
}
.padding20{
	padding : 20px;
}
.padding30{
	padding : 30px;
}

.paddingBottom1{
	padding-bottom:1px;
}
.paddingBottom5{
	padding-bottom:5px;
}
.paddingBottom7{
 	padding-bottom:7px;
 }
.paddingBottom10{
	padding-bottom:10px;
}
.paddingBottom15{
	padding-bottom:15px;
}
.paddingBottom20{
	padding-bottom:20px;
}
.paddingBottom25{
	padding-bottom:25px;
}
.paddingBottom30{
	padding-bottom:30px;
}
.paddingBottom35{
	padding-bottom:35px;
}
.paddingBottom40{
	padding-bottom:40px;
}
.paddingBottom45{
	padding-bottom:45px;
}
.paddingBottom50{
	padding-bottom:50px;
}
.paddingBottom60{
	padding-bottom:60px;
}
.paddingBottom70{
	padding-bottom:70px;
}
.paddingBottom80{
	padding-bottom:80px;
}
.paddingBottom90{
	padding-bottom:90px;
}
.paddingBottom100{
	padding-bottom:100px;
}



.paddingLeft10{
	padding-left:10px;
}
.paddingLeft20{
	padding-left:20px;
}
.paddingLeft30{
	padding-left:30px;
}
.paddingLeft40{
	padding-left:40px;
}
.paddingLeft50{
	padding-left:50px;
}

.paddingRight10{
	padding-right:10px;
}
.paddingRight20{
	padding-right:20px;
}
.paddingRight30{
	padding-right:30px;
}
.paddingRight40{
	padding-right:40px;
}
.paddingRight50{
	padding-right:50px;
}
.paddingRight60{
	padding-right:60px;
}
.paddingRight70{
	padding-right:70px;
}
.paddingRight80{
	padding-right:80px;
}
.paddingRight90{
	padding-right:90px;
}
.paddingRight100{
	padding-right:100px;
}

.marginRight-10{
	margin-right:-10px;
}
.marginRight10{
	margin-right:10px;
}
.marginRight15{
	margin-right:15px;
}
.marginRight20{
	margin-right:20px;
}
.marginRight30{
	margin-right:30px;
}
.marginRight-30{
	margin-right:-30px;
}
.marginRight40{
	margin-right:40px;
}
.marginRight50{
	margin-right:50px;
}


.marginLeft-10{
	margin-left:-10px;
}
.marginLeft10{
	margin-left:10px;
}
.marginLeft20{
	margin-left:20px;
}
.marginLeft30{
	margin-left:30px;
}
.marginLeft40{
	margin-left:40px;
}
.marginLeft50{
	margin-left:50px;
}


.marginBottom0{
	margin-bottom:0px;
}
.marginBottom5{
	margin-bottom:5px;
}
.marginBottom20{
	margin-bottom:20px;
}
.marginBottom75{
	margin-bottom:75px;
}
.marginBottom78{
	margin-bottom:78px;
}
.marginBottom80{
	margin-bottom:80px;
}
.marginBottom85{
	margin-bottom:85px;
}

.marginTop5{
	margin-top:5px;
}
.marginTop15{
	margin-top:15px;
}
.marginTop20{
	margin-top:20px;
}
.marginTop75{
	margin-top:75px;
}
.marginTop77{
	margin-top:77px;
}
.marginTop78{
	margin-top:78px;
}
.marginTop79{
	margin-top:79px;
}

.gambarHead{
	height:65px;
	width:100px;
}

.gambarFoot{
	height:80px;
	width:120px;
}

.tengah{
	position: absolute;
	top: 50%;
  	left:50%;
  	transform: translate(-50%,-50%);
}

.posisiAbs{
	position:absolute;
}

.posisiFix{
	position:fixed;
}

a:link{
	text-decoration: none;
}

.form-control{
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
	padding:5px 10px;
}

.textCenter{
	text-align:center;
}

.box{
	width: 100%;
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

#box {
    width: 35%;
    height: 35%;
    margin: 0 auto;
    text-align: center;
    line-height: 100%;
    border: 1px solid black;
    margin-bottom:25px;
    margin-top:25px;
    padding-right:25px;
    padding-left:25px;
    padding-bottom:100px;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid white;
    background-color: #1ad1ff;
}

ul.pagination li span {
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid white;
    background-color: #1ad1ff;
}

.pagination li:first-child a {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination li:last-child a {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}