body {
    font-family: 'Lato';
}

.floatRight{
	float:right;
}
.floatLeft{
	float:left;
}

.borderTopLima{
	border-top:5px solid;
}
.borderRightSatu{
	border-right:1px solid $abu;
}

.widthDuaPuluh{
	width:20%;
}
.width17{
	width:17%;
}
.width26{
	width:26%;
}
.width40{
	width:40%;
}
.width330{
	width:330px;
}

.heightLima{
	height:5px;
}

.paddingTop25{
	padding-top:25px;
}
.paddingTop10{
	padding-top:10px;
}
.paddingLeft50{
	padding-left:50px;
}
.paddingRight50{
	padding-right:50px;
}
.paddingSamping{
	padding:0 50px;
}

.gambar{
	height:75px;
	width:100px;
}