@media (max-width: 859px){
    
    .desktop{
        display:none;
    }
    
    .buttonNav{
        margin-left:20px;
    }
    .normala, .normalb{
        display:none;
    }
    .kecila{
        padding-top: 50px;
        padding-bottom: 50px;
    }
	.kecilb{
		text-align: center;
        padding-bottom: 15px;
		padding-top: 15px;
	}
	.font-mobile{
		font-size: 15px;
	}
	.font-registered{
		font-size: 28px;
	}
	.navbar-nav .nav-item +.nav-item{
		font-size:2em;
		width:100%;
	    margin-left:0; 
	    padding-left:10px;
	    padding-right: 10px;
	}
	.email{
		border-bottom-left-radius: 5px;
		border-top-left-radius: 5px;
		border:1px solid #E2E2E2;
		padding:5px 10px;
	}
}

@media(min-width: 860px){
    .mobile{
        display:none;
    }
    .kecila, .kecilb{
        display:none;
	}
	.normala{
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.email{
		border-bottom-left-radius: 5px;
		border-top-left-radius: 5px;
		border:1px solid #E2E2E2;
		padding:5px 10px;
	}
	@media(min-width: 990px){
		.desktop .butKoleksi2{
			display:none;
		}
	}
}

@media(max-width: 990px){
	.desktop .butKoleksi{
		display:none;
	}
}
