.navbar{
	font-size : 16 px;
}

.navbar-light .navbar-nav .nav-link { 
	color: black;
	border-radius: 5px;
}

.navbar-light .navbar-nav .nav-link:hover{ 
	color: black; 
}

.navbar{
    margin-top: -8px;
}

.navbar-nav .nav-item +.nav-item{
    margin-left:0; 
    padding-left:10px;
    padding-right: 10px;
}

.fa{
    padding-top: 15px;
}
.modal.right.fade .modal-dialog {
		right: -320px;
		-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, right 0.3s ease-out;
		        transition: opacity 0.3s linear, right 0.3s ease-out;
	}
	
	.modal.right.fade.in .modal-dialog {
		right: 0;
	}
