.navbar{
	font-size : 16 px;
}

.navbar-light .navbar-nav .nav-link { 
	color: black;
	border-radius: 5px;
}

.navbar-light .navbar-nav .nav-link:hover{ 
	color: black; 
}

.navbar{
    margin-top: -8px;
}

.navbar-nav .nav-item +.nav-item{
    margin-left:0; 
    padding-left:10px;
    padding-right: 10px;
}

/*Right*/
    .modal.right.fade .modal-dialog {
        right: -320px;
        -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
           -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
             -o-transition: opacity 0.3s linear, right 0.3s ease-out;
                transition: opacity 0.3s linear, right 0.3s ease-out;
    }
    
    .modal.right.fade.in .modal-dialog {
        right: 0;
    }

/* ----- MODAL STYLE ----- */
    .modal-content {
        border-radius: 0;
        border: none;
    }

    .modal-header {
        border-bottom-color: #EEEEEE;
        background-color: #FAFAFA;
    }
    
    .navbar {
        box-shadow: 0 5px 0px -1px rgba(0, 0, 0, 0.45);
        -webkit-box-shadow:  0 5px 0px -1px rgba(0, 0, 0, 0.45);
        -moz-box-shadow:  0 5px 0px -1px rgba(0, 0, 0, 0.45);
    }

/* Dropdown Button */
.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: $abumuda;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    right:0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-cont {
    display: none;
    position: static;
    right:0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a, .dropdown-cont a {
    color: black;
    margin: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */




/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


.buttonAdvan{
    border-radius:5px;
    border:2px solid #808080;
    padding:0px 10px 0px 10px;
    font-size:20px
}

.hoverHome:hover{
    background-color:$red;
    .nav-link .red{
        color:$white;
    }
}

.hoverMainan:hover{
    background-color:$green;
    .nav-link .green{
        color:$white;
    }
}
.hoverParty:hover{
    background-color:$orange;
    .nav-link .orange{
        color:$white;
    }
}
.hoverTentang:hover{
    background-color:$purple;
    .nav-link .purple{
        color:$white;
    }
}
.hoverLogin:hover{
    background-color:$blue;
    .nav-link .blue{
        color:$white;
    }
}



.homeHover:hover .black{
    color:$red;
}
.homeHover:active .black{
    color:$red;
}

.mainanHover:hover .black{
    color:$green;
}
.partyHover:hover  .black{
    color:$orange;
}
.tentangHover:hover .black{
    color:$purple;
}
.loginHover:hover .black{
    color:$blue;
}
=======
/* themes */
.drop-search{
    box-shadow: 0 5px 0px -1px rgba(0, 0, 0, 0.45);
    width: 375px !important;
    background: #EFF1F3;
    padding-top:20px !important;
    padding-left:20px !important;
    padding-right:20px !important;
}
.right-navbar-button:hover{
    background-color: white;
}
.right-navbar-button:hover i{
    color: #025AA5;
}    
.right-navbar-button:focus{
    border-radius: 0px;
    outline: none;
    background-color: white;
}
.right-navbar-button.active{
    background-color: #EFF1F3 !important;
    border-radius: 0px !important;
}
.right-navbar-button.active i{
    color: #227FAC !important;
} 
.navbar-btn-search{
    border-radius: 0px;
    border:none;
    background-color:#227FAC;
    padding-left:30px;
    padding-right:30px;
    color:white;
}
.navbar-btn-search:hover{
    z-index: 2 !important;
    /*background-color: #46A0CF;*/
}    
.navbar-btn-search:focus{
    z-index: 0 !important;
    outline-offset: -4px;
}    
.navbar-input-search{
    height:36px;
    border:none;
    border-radius: 0px;
}
.navbar-input-search:focus{
    z-index: 0 !important;
}
.navbar-input-search:hover{
    z-index: 0 !important;
}
.navbar-advance-search{
    font-weight: 300;
    font-style: italic;
    font-size: 14px !important;
}   
.navbar-advance-search:hover{
    color: #46A0CF;
}    
>>>>>>> Stashed changes
