.ptop{
	padding-top: 30px;
}

.pbottom{
	padding-bottom: 30px;
}

.mbottom-l{
	margin-bottom: 80px;
}

.mtop-l{
	margin-top: 80px;
}

.mright-l{
	margin-right: 80px;
}

.mleft-l{
	margin-left: 80px;
}

.pleft-s{
	padding-left: 15px;
}

.pright-s{
	padding-right: 15px;
}

.pleft-m{
	padding-left: 30px;
}

.pright-m{
	padding-right: 30px;
}

.pleft-l{
	padding-left: 45px;
}

.pright-l{
	padding-right: 45px;
}

.padding{
	padding : 15px;
}



.mbutton-bottom{
	margin-bottom: 30px;
}

.mbottom-s{
	margin-bottom: 25px;
}

.mbottom-m{
	margin-bottom: 50px;
}

.mbottom-xl{
	margin-bottom: 100px;
}

.mtop-s{
	margin-top: 25px;
}

.mtop-m{
	margin-top: 50px;
}

.mtop-xl{
	margin-top: 100px;
}

.mright-s{
	margin-right: 25px;
}

.mright-m{
	margin-right: 50px;
}

.mright-xl{
	margin-right: 100px;
}

.mleft-s{
	margin-left: 25px;
}

.mleft-m{
	margin-left: 50px;
}

.mleft-xl{
	margin-left: 100px;
}